<app-header></app-header>
<div class="probootstrap-search" id="probootstrap-search">
    <a href="#" class="probootstrap-close js-probootstrap-close"><i class="icon-cross"></i></a>
    <form action="#">
      <input type="search" name="s" id="search" placeholder="Search a keyword and hit enter...">
    </form>
  </div>
  
  <div class="probootstrap-page-wrapper">
   
  
    
    <section class="probootstrap-section probootstrap-section-colored">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-left section-heading probootstrap-animate">
            <h1>A propos</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="probootstrap-flex-block">
              <div class="probootstrap-text probootstrap-animate">
                <div class="text-uppercase probootstrap-uppercase">Histoire</div>
                <h3>Qui nous sommes ? </h3>
                <p>Un établissement scientifique relevant de l'Université de Sousse (Tunisie). Il est créé en application des dispositions du décret n°1385-2001 du 7 juin 2001.
              
                  En 2004-2005, une nouvelle filière formant des ingénieurs en informatique (temps réel) est créé. Enfin, en 2005-2006, un master de recherche en sûreté et sécurité des systèmes industriels voit le jour.</p>
          
              </div>
              <div class="probootstrap-image probootstrap-animate">
                <img src="assets\20211115_1056374.jpg" controls width="700" height="630">
            </div>
            
            </div>
          </div>
        </div>
      </div>
    </section>


    
    
    <section class="probootstrap-section">
      <div class="container">
        
        <div class="col-md-6">
          <p>
            <img src="assets/mini.jpg" alt="Free Bootstrap Template by uicookes.com" class="img-responsive">
          </p>
        </div>
        <div class="col-md-6 col-md-push-1">
          <h2>Prenons l'initiative ensemble, améliorons notre ISSAT !</h2>
          <p>L’ISSAT de Sousse est un membre fondateur du Réseau des Etablissements Tunisiens de Formation d’Ingénieurs (RETFI) et vise une ouverture à l’international afin d’améliorer sa visibilité et pour promouvoir la mobilité de ses étudiants à travers des coopérations scientifiques et académiques.</p>
        </div>
        

      </div>
    </section>



    
    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
            <h2>Pourquoi choisir ISSATSo?</h2>
            <p class="lead">"Choisissez ISSAT Sousse pour une formation de qualité, une expérience enrichissante et des opportunités de carrière sans limite. Rejoignez-nous pour façonner un avenir brillant ensemble!"</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="service left-icon probootstrap-animate">
              <div class="icon"><i class="icon-checkmark"></i></div>
              <div class="text">
                <h3>Excellence académique</h3>
                <p> Nous visons l'excellence dans l'enseignement et la recherche pour assurer une formation de qualité supérieur.</p>
              </div>  
            </div>
            <div class="service left-icon probootstrap-animate">
              <div class="icon"><i class="icon-checkmark"></i></div>
              <div class="text">
                <h3>Innovation</h3>
                <p>Nous encourageons la créativité et l'innovation, préparant nos étudiants à relever les défis du monde moderne.</p>
              </div>
            </div>
            <div class="service left-icon probootstrap-animate">
              <div class="icon"><i class="icon-checkmark"></i></div>
              <div class="text">
                <h3>Engagement communautaire</h3>
                <p>Nous sommes dévoués à servir la communauté en favorisant le développement social et économique.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service left-icon probootstrap-animate">
              <div class="icon"><i class="icon-checkmark"></i></div>
              <div class="text">
                <h3>Intégrité</h3>
                <p>Nous cultivons une culture de l'honnêteté, tant dans nos interactions quotidiennes que dans nos actions académiques.</p>
              </div>  
            </div>
            
            <div class="service left-icon probootstrap-animate">
              <div class="icon"><i class="icon-checkmark"></i></div>
              <div class="text">
                <h3>Internationalisation</h3>
                <p>Nous offrons un environnement d'apprentissage diversifié et multiculturel, favorisant l'échange interculturel.</p>
              </div>
            </div>
            
            <div class="service left-icon probootstrap-animate">
              <div class="icon"><i class="icon-checkmark"></i></div>
              <div class="text">
                <h3>Employabilité</h3>
                <p>Nous nous engageons à préparer nos étudiants à réussir sur le marché du travail en leur fournissant les compétences nécessaires.</p>
              </div>
            </div>

          </div>
        </div>
        <!-- END row -->
      </div>
    </section>




    
    <section class="probootstrap-cta">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="probootstrap-animate" data-animate-effect="fadeInRight">Nous Rejoindre !</h2>
            <a href="#" role="button" class="btn btn-primary btn-lg btn-ghost probootstrap-animate" data-animate-effect="fadeInLeft">Nos Formations</a>
          </div>
        </div>
      </div>
    </section>
    <app-footer></app-footer>

  </div>