<footer class="probootstrap-footer probootstrap-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="probootstrap-footer-widget">
            <h3>A propos</h3>
            <p>Votre portail vers l'excellence académique, l'innovation et l'avenir professionnel.</p>
            <h3>Nos Réseaux Sociaux</h3>
            <ul class="probootstrap-footer-social">
              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-github"></i></a></li>
              <li><a href="#"><i class="icon-linkedin"></i></a></li>
              <li><a href="#"><i class="icon-youtube"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-md-push-1">
          <div class="probootstrap-footer-widget">
            <h3>Des Liens</h3>
            <ul>
              <li><a href="index.html">Acceuil</a></li>
              <li><a href="/about">A propos</a></li>
              <li><a href="/consultNews">Actualités</a></li>
              <li><a href="/events">Evénements</a></li>
              <li><a href="/contact">Nous Contacter</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="probootstrap-footer-widget">
            <h3> Contact </h3>
            <ul class="probootstrap-contact-info">
              <li><i class="icon-location2"></i> <span>Cité Taffala (Ibn Khaldoun) 4003 Sousse Tunisie</span></li>
              <li><i class="icon-mail"></i><span>issatso@issatso.rnu.tn</span></li>
              <li><i class="icon-phone2"></i><span>+216 73 382 656</span></li>
            </ul>
          </div>
        </div>
       
      </div>
      <!-- END row -->
      
    </div>

    <div class="probootstrap-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-8 text-left">
            <p>&copy; 2024. All Rights Reserved. Designed &amp; Developed with <i class="icon icon-heart"></i> by Guizz , Fafani , Youta and Dah </p>
          </div>
          <div class="col-md-4 probootstrap-back-to-top">
            <p><a href="#" class="js-backtotop">Back to top <i class="icon-arrow-long-up"></i></a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>