<div class="probootstrap-page-wrapper">
    <!-- Fixed navbar -->
    
<app-header></app-header>

    <section class="flexslider">
      <ul class="slides">
        <li style="background-image: url(assets/20211115_1056374.jpg)" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading probootstrap-animate">Votre portail vers l'excellence académique, l'innovation et l'avenir professionnel</h1>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url(assets/mini.jpg)" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading probootstrap-animate">Aider chacun de nos étudiants à réaliser leur plein potentiel.</h1>
                </div>
              </div>
            </div>
          </div>
          
        </li>
      </ul>
    </section>
    
    <section class="probootstrap-section probootstrap-section-colored">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-left section-heading probootstrap-animate">
            <h2>Bienvenue dans le monde de l'ISSAT</h2>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="probootstrap-flex-block">
              <div class="probootstrap-text probootstrap-animate">
                <h3>A Propos</h3>
                <p>Actuellement, l’ISSAT de Sousse délivre en moyenne 120 diplômes d’ingénieur en informatique par an et 600 diplômes de licence (Informatique, mécanique, électronique, énergétique et génie civil) pour un tissu industriel riche et varié. Nous sommes aussi très impliqués dans des coopérations avec notre environnement socioéconomique national et international à travers 891 sociétés partenaires et 78 conventions de partenariat permettant de placer annuellement 350 stages de fin d’études.</p>
                <p><a href="/about" class="btn btn-primary">Savoir Plus</a></p>
              </div>
              <div class="probootstrap-image probootstrap-animate" style="background-image: url(assets/issatso.jpg)">
                <a href="assets/issatso.jpg" class="overlay"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section" id="probootstrap-counter">
      <div class="container">
        
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
            <div class="probootstrap-counter-wrap">
              <div class="probootstrap-icon">
                <i class="icon-users2"></i>
              </div>
              <div class="probootstrap-text">
                <span class="probootstrap-counter">
                  <span class="js-counter" data-from="0" data-to="20203" data-speed="5000" data-refresh-interval="50">1</span>
                </span>
                <span class="probootstrap-counter-label">Etudiants Inscrits</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
            <div class="probootstrap-counter-wrap">
              <div class="probootstrap-icon">
                <i class="icon-user-tie"></i>
              </div>
              <div class="probootstrap-text">
                <span class="probootstrap-counter">
                  <span class="js-counter" data-from="0" data-to="139" data-speed="5000" data-refresh-interval="50">1</span>
                </span>
                <span class="probootstrap-counter-label">Enseignants Certifiés</span>
              </div>
            </div>
          </div>
          <div class="clearfix visible-sm-block visible-xs-block"></div>
          <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
            <div class="probootstrap-counter-wrap">
              <div class="probootstrap-icon">
                <i class="icon-library"></i>
              </div>
              <div class="probootstrap-text">
                <span class="probootstrap-counter">
                  <span class="js-counter" data-from="0" data-to="99" data-speed="5000" data-refresh-interval="50">1</span>%
                </span>
                <span class="probootstrap-counter-label">Diplomés</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
             
             <div class="probootstrap-counter-wrap">
              <div class="probootstrap-icon">
                <i class="icon-smile2"></i>
              </div>
              <div class="probootstrap-text">
                <span class="probootstrap-counter">
                  <span class="js-counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="50">1</span>%
                </span>
                <span class="probootstrap-counter-label">Etudiants Satisfaits </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section probootstrap-section-colored probootstrap-bg probootstrap-custom-heading probootstrap-tab-section" style="background-image: url(assets/img/slider_2.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center section-heading probootstrap-animate">
            <h2 class="mb0">Highlights</h2>
          </div>
        </div>
      </div>
      <div class="probootstrap-tab-style-1">
        <ul class="nav nav-tabs probootstrap-center probootstrap-tabs no-border">
          <li class="active"><a data-toggle="tab" href="#news">Nouveautés</a></li>
          <li><a data-toggle="tab" href="#events">Evénement à venir</a></li>
        </ul>
      </div>
    </section>

    <section class="probootstrap-section probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            
            <div class="tab-content">





              <div id="featured-news" class="tab-pane fade in active">
                <div class="row">
                  <div class="col-md-12">
                    <div class="owl-carousel" id="owl1">
                      <div class="item">
                        <a href="news" class="probootstrap-featured-news-box">
                          <figure class="probootstrap-media"><img src="assets/photo.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive" loading="lazy"></figure>
                          <div class="probootstrap-text">
                            <h3>Nouvelle Unité photovoltaïque</h3>
                            <p>Début de l’installation de l’unité photovoltaïque d’une puissance de 60 kWc raccordée au réseau MT.</p>
                            <span class="probootstrap-date"><i class="icon-calendar"></i>July 9, 2023</span>
                            
                          </div>
                        </a>
                      </div>
                      <!-- END item -->
                      <div class="item">
                        <a href="news" class="probootstrap-featured-news-box">
                          <figure class="probootstrap-media"><img src="assets/china.png" alt="Free Bootstrap Template by uicookies.com" class="img-responsive" loading="lazy"></figure>
                          <div class="probootstrap-text">
                            <h3>MEMORANDUM OF UNDERSTANDING between ISSATSo & Hubei University of Technology, P.R. China</h3>
                            <p>This MOU is aimed at encouraging the two parties to initiate collaborative activities in the areas of education, scientific research, enhancing international understanding, promoting academic collaboration, facilitating cultural exchange, and a deepening friendship between the two parties.
                            </p>
                            <span class="probootstrap-date"><i class="icon-calendar"></i>July 7, 2024</span>
                            
                          </div>
                        </a>
                      </div>
                      <!-- END item -->
                      <div class="item">
                        <a href="news" class="probootstrap-featured-news-box">
                          <figure class="probootstrap-media"><img src="assets/huwaei.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive" loading="lazy"></figure>
                          <div class="probootstrap-text">
                            <h3>Signature de la convention ISSATSo & HUAWEI
                            </h3>
                            <p>Une convention de partenariat a été signée, ce lundi 26 Septembre 2022, entre l’Institut Supérieur des Sciences Appliquées et de Technologie de Sousse et HUAWEI Tunisie.</p>
                            <span class="probootstrap-date"><i class="icon-calendar"></i>July 9, 2017</span>
                            
                          </div>
                        </a>
                      </div>
                     
                    </div>
                  </div>
                </div>
                <!-- END row -->
                <div class="row">
                  <div class="col-md-12 text-center">
                    <p><a href="/news" class="btn btn-primary">Voir Tout</a></p>  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </section>
    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
            <h2>Rencontrez nos enseignants qualifiés.</h2>
            <p class="lead">Explorons ensemble les possibilités infinies de l'apprentissage avec nos enseignants passionnés et hautement qualifiés.</p>
          </div>
        </div>
        <!-- END row -->

        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="probootstrap-teacher text-center probootstrap-animate">
              <figure class="media">
                <img src="assets/pooo.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive" loading="lazy">
              </figure>
              <div class="text">
                <h3>Dr Amira Guizani</h3>
                <p>Développement Web</p>
                <ul class="probootstrap-footer-social">
                  <li class="email"><a href="#">amira@issatso.u-sousse.tn</a></li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="probootstrap-teacher text-center probootstrap-animate">
              <figure class="media">
                <img src="assets/pooooo.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive" loading="lazy">
              </figure>
              <div class="text">
                <h3>Dr Amal Amara</h3>
                <p>Web Scrapping</p>
                <ul class="probootstrap-footer-social">
                  <li class="Email"><a href="#">amal@issatso.u-sousse.tn</a></li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="clearfix visible-sm-block visible-xs-block"></div>
          <div class="col-md-3 col-sm-6">
            <div class="probootstrap-teacher text-center probootstrap-animate">
              <figure class="media">
                <img src="assets/eya.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive" loading="lazy">
              </figure>
              <div class="text">
                <h3>Dr Eya Ben Jazia</h3>
                <p>Théorie Fil d'attente </p>
                <ul class="probootstrap-footer-social">
                  
                  <li class="Email"><a href="#">eyabenjazia@issatso.u-sousse.tn></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="probootstrap-teacher text-center probootstrap-animate">
              <figure class="media">
                <img src="assets/profman.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive" loading="lazy">
              </figure>
              <div class="text">
                <h3>Dr Souheil Ayed</h3>
                <p>e-commerce</p>
                <ul class="probootstrap-footer-social">
                  
                  <li class="Email"><a href="#">souheilbenayed@issatso.u-sousse.tn</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <section class="probootstrap-section probootstrap-bg probootstrap-section-colored probootstrap-testimonial" style="background-image: url(assets/img/slider_4.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
            <h2>Témoignage d'ancien élève :</h2>
            <p class="lead">Écoutez ce que nos anciens élèves ont à dire sur leur expérience à ISSAT Sousse et comment cela a influencé leur parcours professionnel.</p>
          </div>
        </div>
        <!-- END row -->
        <div class="row">
          <div class="col-md-12 probootstrap-animate">
            <div class="owl-carousel owl-carousel-testimony owl-carousel-fullwidth">
              <div class="item">

                <div class="probootstrap-testimony-wrap text-center">
                  <figure>
                    <img src="assets/person2.jpg" alt="Free Bootstrap Template by uicookies.com" loading="lazy">
                  </figure>
                  <blockquote class="quote">&ldquo;UI/UX must be functional and functionality must be translated into visual aesthetics, without any reliance on gimmicks that have to be explained.&rdquo; <cite class="author"> &mdash; <span>Amira Zouali</span></cite></blockquote>
                </div>

              </div>
              <div class="item">
                <div class="probootstrap-testimony-wrap text-center">
                  <figure>
                    <img src="assets/person3.jpg" alt="Free Bootstrap Template by uicookies.com" loading="lazy">
                  </figure>
                  <blockquote class="quote">&ldquo;Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn’t really do it, they just saw something. It seemed obvious to them after a while.&rdquo; <cite class="author"> &mdash;<span>GHADA Dahmoul</span></cite></blockquote>
                </div>
              </div>
              <div class="item">
                <div class="probootstrap-testimony-wrap text-center">
                  <figure>
                    <img src="assets/person4.jpg" alt="Free Bootstrap Template by uicookies.com" loading="lazy">
                  </figure>
                  <blockquote class="quote">&ldquo;I think Web developpement would be better if designers were much more skeptical about its applications. If you believe in the potency of your craft, where you choose to dole it out is not something to take lightly.&rdquo; <cite class="author">&mdash; <span>Rahma Bouguezzi</span></cite></blockquote>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <!-- END row -->
      </div>
    </section>
    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
            <h2>Pourquoi choisir ISSATSo?</h2>
            <p class="lead">"Choisissez ISSAT Sousse pour une formation de qualité, une expérience enrichissante et des opportunités de carrière sans limite. Rejoignez-nous pour façonner un avenir brillant ensemble!"</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="service left-icon probootstrap-animate">
              <div class="icon"><i class="icon-checkmark"></i></div>
              <div class="text">
                <h3>Excellence académique</h3>
                <p> Nous visons l'excellence dans l'enseignement et la recherche pour assurer une formation de qualité supérieur.</p>
              </div>  
            </div>
            <div class="service left-icon probootstrap-animate">
              <div class="icon"><i class="icon-checkmark"></i></div>
              <div class="text">
                <h3>Innovation</h3>
                <p>Nous encourageons la créativité et l'innovation, préparant nos étudiants à relever les défis du monde moderne.</p>
              </div>
            </div>
            <div class="service left-icon probootstrap-animate">
              <div class="icon"><i class="icon-checkmark"></i></div>
              <div class="text">
                <h3>Engagement communautaire</h3>
                <p>Nous sommes dévoués à servir la communauté en favorisant le développement social et économique.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service left-icon probootstrap-animate">
              <div class="icon"><i class="icon-checkmark"></i></div>
              <div class="text">
                <h3>Intégrité</h3>
                <p>Nous cultivons une culture de l'honnêteté, tant dans nos interactions quotidiennes que dans nos actions académiques.</p>
              </div>  
            </div>
            
            <div class="service left-icon probootstrap-animate">
              <div class="icon"><i class="icon-checkmark"></i></div>
              <div class="text">
                <h3>Internationalisation</h3>
                <p>Nous offrons un environnement d'apprentissage diversifié et multiculturel, favorisant l'échange interculturel.</p>
              </div>
            </div>
            
            <div class="service left-icon probootstrap-animate">
              <div class="icon"><i class="icon-checkmark"></i></div>
              <div class="text">
                <h3>Employabilité</h3>
                <p>Nous nous engageons à préparer nos étudiants à réussir sur le marché du travail en leur fournissant les compétences nécessaires.</p>
              </div>
            </div>

          </div>
        </div>
        <!-- END row -->
      </div>
    </section>
    
    <section class="probootstrap-cta">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="probootstrap-animate" data-animate-effect="fadeInRight">Nous Rejoindre !</h2>
            <a href="#" role="button" class="btn btn-primary btn-lg btn-ghost probootstrap-animate" data-animate-effect="fadeInLeft">Nos Formations</a>
          </div>
        </div>
      </div>
    </section>
   <app-footer></app-footer>

  </div>
  <!-- END wrapper -->
  

  

