

<app-header></app-header>

    
    <div class="probootstrap-page-wrapper">
      
      
      <section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate">
              <h1>Actualités</h1>
            </div>
          </div>
        </div>
      </section>

      <section class="probootstrap-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="probootstrap-flex-block">
                <div class="probootstrap-text probootstrap-animate">
                  <div class="text-uppercase probootstrap-uppercase">Featured Events</div>
                  <h3>Nouveau programme de formation en Intelligence Artificielle (IA) </h3>
                  <p>L'ISSAT Sousse lance un nouveau programme de formation en Intelligence Artificielle pour répondre aux demandes croissantes du marché du travail. Les étudiants auront l'opportunité d'explorer des domaines tels que l'apprentissage automatique, le traitement du langage naturel et la vision par ordinateur. </p>
                  <p>
                    <span class="probootstrap-date"><i class="icon-calendar"></i>July 9, 2024</span>
                    <span class="probootstrap-location"><i class="icon-location2"></i>AMPHI LAATIRI</span>
                  </p>
                  <p><a href="/eventExemple" class="btn btn-primary">Savoir Plus</a></p>
                </div>
                <div class="probootstrap-image probootstrap-animate" style="background-image: url(assets/img/slider_4.jpg)">
                  <video autoplay muted loop class="video-background" preload="auto" width="100%" height="auto">
                    <source src="assets/18069237-uhd_2160_2160_24fps.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      

      
      
      <section class="probootstrap-section">
        <div class="container">

          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="assets/2150898496.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                <div class="probootstrap-text">
                  <h3>Compétition de programmation interuniversitaire</h3>
                  <span class="probootstrap-date"><i class="icon-calendar"></i>July 12, 2024</span>
                  <span class="probootstrap-location"><i class="icon-location2"></i>Bibliothéque ISSATSo</span>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="assets/8290045_3824032.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                <div class="probootstrap-text">
                  <h3>Conférence sur la cybersécurité à l'ISET de Sousse</h3>
                  <span class="probootstrap-date"><i class="icon-calendar"></i>June 25, 2024</span>
                  <span class="probootstrap-location"><i class="icon-location2"></i>ISETSo</span>
                </div>
              </a>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="assets\11119934_4669613.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                <div class="probootstrap-text">
                  <h3>Stage en SOPRA pour les étudiants en informatique</h3>
                  <span class="probootstrap-date"><i class="icon-calendar"></i>Mai 6, 2024</span>
                  <span class="probootstrap-location"><i class="icon-location2"></i>SOPRA , Tunisie </span>
                </div>
              </a>
            </div>

            <div class="clearfix visible-md-block"></div>
            
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="assets/2150998729.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                <div class="probootstrap-text">
                  <h3>Projet de recherche sur l'apprentissage automatique</h3>
                  <span class="probootstrap-date"><i class="icon-calendar"></i>Mai 9, 2024</span>
                  <span class="probootstrap-location"><i class="icon-location2"></i>Bloc i , ISSATSo</span>
                </div>
              </a>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="assets/2150714053.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                <div class="probootstrap-text">
                  <h3>Séminaire sur le développement web moderne</h3>
                  <span class="probootstrap-date"><i class="icon-calendar"></i>June 10, 2024</span>
                  <span class="probootstrap-location"><i class="icon-location2"></i>ISSATSo</span>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="assets/2150834081.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                <div class="probootstrap-text">
                  <h3>Atelier de Conception de Circuits Imprimés (PCB) </h3>
                  <span class="probootstrap-date"><i class="icon-calendar"></i>August 25, 2024</span>
                  <span class="probootstrap-location"><i class="icon-location2"></i>Département Electronique , ISSATSo</span>
                </div>
              </a>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>

          </div>
        </div>
      </section>
      
      <section class="probootstrap-cta">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="probootstrap-animate" data-animate-effect="fadeInRight">Nous Rejoindre !</h2>
              <a href="#" role="button" class="btn btn-primary btn-lg btn-ghost probootstrap-animate" data-animate-effect="fadeInLeft">Nos Formations</a>
            </div>
          </div>
        </div>
      </section>
      <app-footer></app-footer>>

    </div>
    <!-- END wrapper -->
    

   