<app-header></app-header>

<div class="probootstrap-page-wrapper">

  <!-- Content section for single event -->
  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <!-- Single event content goes here -->
        <div id="singleEventContent" class="col-md-8">
          <h2>Nouveau programme de formation en Intelligence Artificielle (IA)</h2>
          <p>L'ISSAT Sousse lance un nouveau programme de formation en Intelligence Artificielle pour répondre aux demandes croissantes du marché du travail. Les étudiants auront l'opportunité d'explorer des domaines tels que l'apprentissage automatique, le traitement du langage naturel et la vision par ordinateur.</p>
          <p>Ce programme de formation vise à fournir aux étudiants les compétences nécessaires pour réussir dans le domaine en plein essor de l'IA. Les participants auront accès à des cours théoriques et pratiques, ainsi qu'à des projets concrets pour renforcer leur compréhension et leur expertise.</p>
          <p>Voici quelques-unes des caractéristiques du programme:</p>
          <ul>
            <li>Formation approfondie sur les concepts fondamentaux de l'IA</li>
            <li>Exploration des techniques avancées d'apprentissage automatique et de traitement du langage naturel</li>
            <li>Projets pratiques et études de cas pour mettre en pratique les connaissances acquises</li>
            <li>Accès à des ressources et des experts de premier plan dans le domaine</li>
          </ul>
        </div>
        <div class="col-md-4">
          <!-- Event image goes here -->
          <img src="assets/2150998729.jpg" alt="IA Program Image" class="img-responsive">
        </div>
      </div>
    </div>
  </section>

  <!-- Navigation buttons for previous and next events -->
  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <button id="prevEventBtn" class="btn btn-primary btn-lg">Previous Event</button>
        </div>
        <div class="col-md-6 text-right">
          <button id="nextEventBtn" class="btn btn-primary btn-lg">Next Event</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Join Us section -->
  <section class="probootstrap-cta">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="probootstrap-animate" data-animate-effect="fadeInRight">Nous Rejoindre !</h2>
          <a href="#" role="button" class="btn btn-primary btn-lg btn-ghost probootstrap-animate" data-animate-effect="fadeInLeft">Nos Formations</a>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>

</div>
<!-- END wrapper -->
